.food-name {
	padding-left: 38px !important;
	overflow: hidden;
	background-repeat: no-repeat;
	width: 190px !important;
}
._chewychevon {background-image: url("../img/food-icon/chewychevon.png")}
._strawberries {background-image: url("../img/food-icon/herbs/strawberry.png")}
._driedfiletofrosefish {background-image: url("../img/food-icon/meat-dfilet.png")}
._driedfiletofbass {background-image: url("../img/food-icon/meat-dfilet.png")}
._driedfiletofhaddock {background-image: url("../img/food-icon/meat-dfilet.png")}
._spitroastseagull {background-image: url("../img/food-icon/meat-spoultry.png")}
._spitroasteagleowl {background-image: url("../img/food-icon/meat-spoultry.png")}
._spitroastgoldeneagle {background-image: url("../img/food-icon/meat-spoultry.png")}
._roastchestnut {background-image: url("../img/food-icon/chestnutroast.png")}
._boiledegg {background-image: url("../img/food-icon/egg-chicken-boiled.png")}
._boiledrazorclam {background-image: url("../img/food-icon/herbs/razorclams-b.png")}
._boiledgooseneckbarnacle {background-image: url("../img/food-icon/herbs/goosebarnacle-b.png")}
._friedegg {background-image: url("../img/food-icon/egg-chicken-fried.png")}
._honeygruel {background-image: url("../img/food-icon/honeygruel.png")}
._glazedhoneyons {background-image: url("../img/food-icon/glazedhoneyons.png")}
._roastcaverat {background-image: url("../img/food-icon/meat-roast.png")}
._roastbogturtle {background-image: url("../img/food-icon/meat-roast.png")}
._roastcachalot {background-image: url("../img/food-icon/meat-roast.png")}
._roastorca {background-image: url("../img/food-icon/meat-roast.png")}
._rawbeef {background-image: url("../img/food-icon/meat-raw.png")}
._crab {background-image: url("../img/food-icon/small/crab.png")}
._roastseagull {background-image: url("../img/food-icon/meat-rpoultry.png")}
._pumpkinstew {background-image: url("../img/food-icon/pumpkinstew.png")}
._kebabmeat {background-image: url("../img/food-icon/kebab.png")}
._abbaye {background-image: url("../img/food-icon/cheese-abbaye.png")}
._almond {background-image: url("../img/food-icon/almond.png")}
._antempress {background-image: url("../img/food-icon/ants-empress.png")}
._antlarvae {background-image: url("../img/food-icon/ants-larvae.png")}
._antpupae {background-image: url("../img/food-icon/ants-pupae.png")}
._antqueen {background-image: url("../img/food-icon/ants-queen.png")}
._antsoldiers {background-image: url("../img/food-icon/ants-soldiers.png")}
._aphids {background-image: url("../img/food-icon/ants-aphids.png")}
._applepie {background-image: url("../img/food-icon/applepie.png")}
._autumnsteak {background-image: url("../img/food-icon/autumnsteak.png")}
._badgerbotillo {background-image: url("../img/food-icon/wurst-badgerbotillo.png")}
._bakedbirchbarkbream {background-image: url("../img/food-icon/bakedbirchbarkbream.png")}
._banon {background-image: url("../img/food-icon/cheese-banon.png")}
._barkbread {background-image: url("../img/food-icon/barkbread.png")}
._baybolete {background-image: url("../img/food-icon/herbs/baybolete.png")}
._bearsalami {background-image: url("../img/food-icon/wurst-bearsalami.png")}
._beaverdelights {background-image: url("../img/food-icon/beaverdelights.png")}
._beaverdog {background-image: url("../img/food-icon/wurst-beaverdog.png")}
._beechnuts {background-image: url("../img/food-icon/seed-beech.png")}
._beetedbirdbreast {background-image: url("../img/food-icon/beetbird.png")}
._beetroot {background-image: url("../img/food-icon/beet.png")}
._bigbearbanger {background-image: url("../img/food-icon/wurst-bigbearbanger.png")}
._birchbarkbream {background-image: url("../img/food-icon/birchbarkbream.png")}
._birthdaycake {background-image: url("../img/food-icon/birthdaycake.png")}
._blackberry {background-image: url("../img/food-icon/seed-blackberrybush.png")}
._blackcurrant {background-image: url("../img/food-icon/seed-blackcurrant.png")}
._blackribeyesteak {background-image: url("../img/food-icon/blackribeye.png")}
._blacktrumpets {background-image: url("../img/food-icon/herbs/blacktrumpet.png")}
._bloatedbolete {background-image: url("../img/food-icon/herbs/bloatedbolete.png")}
._blubberfeast {background-image: url("../img/food-icon/blubberfeast.png")}
._blueberries {background-image: url("../img/food-icon/herbs/blueberry.png")}
._blueberrypie {background-image: url("../img/food-icon/blueberryslice.png")}
._boarbaloney {background-image: url("../img/food-icon/wurst-boarbaloney.png")}
._boarboudin {background-image: url("../img/food-icon/wurst-boarboudin.png")}
._boiledchickenegg {background-image: url("../img/food-icon/egg-chicken-boiled.png")}
._boiledriverpearlmussel {background-image: url("../img/food-icon/musselsboiled.png")}
._bonemarrow {background-image: url("../img/food-icon/bonemarrow.png")}
._bread {background-image: url("../img/food-icon/bread.png")}
._brique {background-image: url("../img/food-icon/cheese-brique.png")}
._brodgarbluecheese {background-image: url("../img/food-icon/cheese-brodgarblue.png")}
._broiledburbot {background-image: url("../img/food-icon/broiledburbot.png")}
._bucheron {background-image: url("../img/food-icon/cheese-bucheron.png")}
._butcherssurprise {background-image: url("../img/food-icon/wurst-butcherssurprise.png")}
._butterchivedtrout {background-image: url("../img/food-icon/chivetrout.png")}
._butteredleeks {background-image: url("../img/food-icon/butteredleeks.png")}
._butterporridge {background-image: url("../img/food-icon/porridge.png")}
._butterscones {background-image: url("../img/food-icon/scones.png")}
._buttersteamedcavebulb {background-image: url("../img/food-icon/butterbulb.png")}
._cabrales {background-image: url("../img/food-icon/cheese-cabrales.png")}
._caciotta {background-image: url("../img/food-icon/cheese-caciotta.png")}
._camomile {background-image: url("../img/food-icon/herbs/camomile.png")}
._candleberry {background-image: url("../img/food-icon/herbs/candleberry.png")}
._candyapple {background-image: url("../img/food-icon/candyapple.png")}
._carrot {background-image: url("../img/food-icon/carrot.png")}
._carrotcake {background-image: url("../img/food-icon/carrotcake.png")}
._cattailroots {background-image: url("../img/food-icon/herbs/cattailroots.png")}
._cavebulb {background-image: url("../img/food-icon/herbs/cavebulb.png")}
._cavecheddar {background-image: url("../img/food-icon/cheese-cavecheddar.png")}
._cavedog {background-image: url("../img/food-icon/wurst-cavedog.png")}
._caveskewer {background-image: url("../img/food-icon/caveskewer.png")}
._caveslime {background-image: url("../img/food-icon/caveslime.png")}
._cellarcheddar {background-image: url("../img/food-icon/cheese-cellarcheddar.png")}
._centibab {background-image: url("../img/food-icon/centibab.png")}
._chabichou {background-image: url("../img/food-icon/cheese-chabichou.png")}
._chabis {background-image: url("../img/food-icon/cheese-chabis.png")}
._chantrelles {background-image: url("../img/food-icon/herbs/chantrelle.png")}
._cheesecake {background-image: url("../img/food-icon/cheesecake.png")}
._cherries {background-image: url("../img/food-icon/cherry.png")}
._chestnut {background-image: url("../img/food-icon/chestnut.png")}
._chickenchorizo {background-image: url("../img/food-icon/wurst-chickenchorizo.png")}
._chickensalad {background-image: url("../img/food-icon/chickensalad.png")}
._chives {background-image: url("../img/food-icon/herbs/chives.png")}
._clambake {background-image: url("../img/food-icon/clambake.png")}
._conegruel {background-image: url("../img/food-icon/conegruel.png")}
._cornucopia {background-image: url("../img/food-icon/small/cornucopia.png")}
._cowchorizo {background-image: url("../img/food-icon/wurst-cowchorizo.png")}
._cowscurd {background-image: url("../img/food-icon/curd-cow.png")}
._crabcakes {background-image: url("../img/food-icon/crabcakes.png")}
._crabroe {background-image: url("../img/food-icon/crabroe.png")}
._creamycamembert {background-image: url("../img/food-icon/cheese-creamycamembert.png")}
._creamycock {background-image: url("../img/food-icon/small/creamycock.png")}
._crpecitrouille {background-image: url("../img/food-icon/pancake-citrouille.png")}
._crpenoisette {background-image: url("../img/food-icon/pancake-noisette.png")}
._cucumber {background-image: url("../img/food-icon/small/cucumber.png")}
._cucumbersalsa {background-image: url("../img/food-icon/cucumbersalsa.png")}
._curdnchives {background-image: url("../img/food-icon/curdnchives.png")}
._deepfriedbird {background-image: url("../img/food-icon/deepfriedbird.png")}
._deliciousdeerdog {background-image: url("../img/food-icon/wurst-deliciousdeer.png")}
._dogrosehips {background-image: url("../img/food-icon/seed-dogrose.png")}
._dreamcookies {background-image: url("../img/food-icon/dreamcookies.png")}
._dressedlettuce {background-image: url("../img/food-icon/dressedsalad.png")}
._driedbatwings {background-image: url("../img/food-icon/batwingsdried.png")}
._driedfiletofabyssgazer {background-image: url("../img/food-icon/meat-dfilet.png")}
._driedfiletofasp {background-image: url("../img/food-icon/meat-dfilet.png")}
._driedfiletofbream {background-image: url("../img/food-icon/meat-dfilet.png")}
._driedfiletofbrill {background-image: url("../img/food-icon/meat-dfilet.png")}
._driedfiletofburbot {background-image: url("../img/food-icon/meat-dfilet.png")}
._driedfiletofcarp {background-image: url("../img/food-icon/meat-dfilet.png")}
._driedfiletofcatfish {background-image: url("../img/food-icon/meat-dfilet.png")}
._driedfiletofcaveangler {background-image: url("../img/food-icon/meat-dfilet.png")}
._driedfiletofcavelacanth {background-image: url("../img/food-icon/meat-dfilet.png")}
._driedfiletofcavesculpin {background-image: url("../img/food-icon/meat-dfilet.png")}
._driedfiletofchub {background-image: url("../img/food-icon/meat-dfilet.png")}
._driedfiletofeel {background-image: url("../img/food-icon/meat-dfilet.png")}
._driedfiletofgrayling {background-image: url("../img/food-icon/meat-dfilet.png")}
._driedfiletofide {background-image: url("../img/food-icon/meat-dfilet.png")}
._driedfiletoflavaret {background-image: url("../img/food-icon/meat-dfilet.png")}
._driedfiletofpaleghostfish {background-image: url("../img/food-icon/meat-dfilet.png")}
._driedfiletofperch {background-image: url("../img/food-icon/meat-dfilet.png")}
._driedfiletofpike {background-image: url("../img/food-icon/meat-dfilet.png")}
._driedfiletofplaice {background-image: url("../img/food-icon/meat-dfilet.png")}
._driedfiletofroach {background-image: url("../img/food-icon/meat-dfilet.png")}
._driedfiletofruffe {background-image: url("../img/food-icon/meat-dfilet.png")}
._driedfiletofsalmon {background-image: url("../img/food-icon/meat-dfilet.png")}
._driedfiletofsilverbream {background-image: url("../img/food-icon/meat-dfilet.png")}
._driedfiletofsmelt {background-image: url("../img/food-icon/meat-dfilet.png")}
._driedfiletofsturgeon {background-image: url("../img/food-icon/meat-dfilet.png")}
._driedfiletoftench {background-image: url("../img/food-icon/meat-dfilet.png")}
._driedfiletoftrout {background-image: url("../img/food-icon/meat-dfilet.png")}
._driedfiletofzander {background-image: url("../img/food-icon/meat-dfilet.png")}
._driedfiletofzope {background-image: url("../img/food-icon/meat-dfilet.png")}
._driedmorels {background-image: url("../img/food-icon/lorcheldried.png")}
._eggcake {background-image: url("../img/food-icon/eggcake.png")}
._elderberries {background-image: url("../img/food-icon/seed-elderberrybush.png")}
._elkdog {background-image: url("../img/food-icon/wurst-elkdog.png")}
._encumberedroast {background-image: url("../img/food-icon/encumberedroast.png")}
._escargotsdamour {background-image: url("../img/food-icon/escargotamour.png")}
._fatbraisedveg {background-image: url("../img/food-icon/fatbraisedveg.png")}
._feta {background-image: url("../img/food-icon/cheese-feta.png")}
._fieldblewits {background-image: url("../img/food-icon/herbs/fieldblewit.png")}
._fishballs {background-image: url("../img/food-icon/fishballs.png")}
._fishintears {background-image: url("../img/food-icon/fishintears.png")}
._fishpie {background-image: url("../img/food-icon/fishpie.png")}
._fishsticks {background-image: url("../img/food-icon/fishsticks.png")}
._fishwrap {background-image: url("../img/food-icon/fishwrap.png")}
._fishyeyeball {background-image: url("../img/food-icon/fishyeyeball.png")}
._formaela {background-image: url("../img/food-icon/cheese-formaela.png")}
._foxfuet {background-image: url("../img/food-icon/wurst-foxfuet.png")}
._foxwurst {background-image: url("../img/food-icon/wurst-foxwurst.png")}
._friedchickenegg {background-image: url("../img/food-icon/egg-chicken-fried.png")}
._fruitpie {background-image: url("../img/food-icon/fruitpie.png")}
._fruitroast {background-image: url("../img/food-icon/fruitroast.png")}
._fruitsorbet {background-image: url("../img/food-icon/fruitsorbet.png")}
._garrotxa {background-image: url("../img/food-icon/cheese-garrotxa.png")}
._gbejna {background-image: url("../img/food-icon/cheese-gbejna.png")}
._genericgouda {background-image: url("../img/food-icon/cheese-genericgouda.png")}
._gevrik {background-image: url("../img/food-icon/cheese-gevrik.png")}
._giantpuffball {background-image: url("../img/food-icon/herbs/giantpuffball.png")}
._glazedgrazerdog {background-image: url("../img/food-icon/wurst-glazedgrazer.png")}
._goatscurd {background-image: url("../img/food-icon/curd-goat.png")}
._gooseberry {background-image: url("../img/food-icon/seed-gooseberrybush.png")}
._grapes {background-image: url("../img/food-icon/grapes.png")}
._graviera {background-image: url("../img/food-icon/cheese-graviera.png")}
._greenkelp {background-image: url("../img/food-icon/herbs/greenkelp.png")}
._greenleafpie {background-image: url("../img/food-icon/greenleafpie.png")}
._grilledfroglegs {background-image: url("../img/food-icon/froglegs.png")}
._grub {background-image: url("../img/food-icon/grub.png")}
._grubpie {background-image: url("../img/food-icon/grubpie.png")}
._haggis {background-image: url("../img/food-icon/haggis.png")}
._halloumi {background-image: url("../img/food-icon/cheese-halloumi.png")}
._harmesancheese {background-image: url("../img/food-icon/cheese-harmesan.png")}
._hazelnut {background-image: url("../img/food-icon/hazelnut.png")}
._headoflettuce {background-image: url("../img/food-icon/small/lettucehead.png")}
._honeybun {background-image: url("../img/food-icon/honeybun.png")}
._honeydbear {background-image: url("../img/food-icon/honeybear.png")}
._hopjellies {background-image: url("../img/food-icon/hopjelly.png")}
._hotwings {background-image: url("../img/food-icon/hotwings.png")}
._jellycake {background-image: url("../img/food-icon/jellycake.png")}
._jorbonzola {background-image: url("../img/food-icon/cheese-jorbonzola.png")}
._jotunsmorsel {background-image: url("../img/food-icon/jotunmorsel.png")}
._kasseri {background-image: url("../img/food-icon/cheese-kasseri.png")}
._kingofthewoods {background-image: url("../img/food-icon/wurst-woodking.png")}
._kvann {background-image: url("../img/food-icon/herbs/kvann.png")}
._lamblynx {background-image: url("../img/food-icon/wurst-lamblynx.png")}
._lambsausages {background-image: url("../img/food-icon/wurst-lambsausages.png")}
._laurelcrownedroast {background-image: url("../img/food-icon/laurelcrowned.png")}
._leekyfowl {background-image: url("../img/food-icon/leekbird.png")}
._lettuceleaf {background-image: url("../img/food-icon/lettuceleaf.png")}
._lingonberries {background-image: url("../img/food-icon/herbs/lingon.png")}
._lingonloaf {background-image: url("../img/food-icon/lingonloaf.png")}
._linseedloaf {background-image: url("../img/food-icon/linseedloaf.png")}
._liveronions {background-image: url("../img/food-icon/liveronions.png")}
._lizardonscales {background-image: url("../img/food-icon/lizardonscales.png")}
._lynxalami {background-image: url("../img/food-icon/wurst-lynxalami.png")}
._magpie {background-image: url("../img/food-icon/magpiepie.png")}
._majorero {background-image: url("../img/food-icon/cheese-majorero.png")}
._manchego {background-image: url("../img/food-icon/cheese-manchego.png")}
._marrowcake {background-image: url("../img/food-icon/marrowcake.png")}
._marrowroast {background-image: url("../img/food-icon/marrowroast.png")}
._marshmallow {background-image: url("../img/food-icon/herbs/marshmallow.png")}
._meatinjelly {background-image: url("../img/food-icon/meatinjelly.png")}
._meatpie {background-image: url("../img/food-icon/meatpie.png")}
._midnightbluecheese {background-image: url("../img/food-icon/cheese-midnightblue.png")}
._molehill {background-image: url("../img/food-icon/molehill.png")}
._moodog {background-image: url("../img/food-icon/wurst-moodog.png")}
._mothzarella {background-image: url("../img/food-icon/cheese-mothzarella.png")}
._moulesfrites {background-image: url("../img/food-icon/moulesfrites.png")}
._mulberry {background-image: url("../img/food-icon/mulberry.png")}
._mushroomburstglutton {background-image: url("../img/food-icon/mushroomburstglutton.png")}
._mushroommash {background-image: url("../img/food-icon/mushroommash.png")}
._mushroomonionpirozhki {background-image: url("../img/food-icon/pirozhki.png")}
._mushroompie {background-image: url("../img/food-icon/mushroompie.png")}
._mushroomsinjelly {background-image: url("../img/food-icon/shroomsinjelly.png")}
._muskymilben {background-image: url("../img/food-icon/cheese-muskymilben.png")}
._nutjerky {background-image: url("../img/food-icon/nutjerky.png")}
._olive {background-image: url("../img/food-icon/olive.png")}
._olivebread {background-image: url("../img/food-icon/olivebread.png")}
._omelette {background-image: url("../img/food-icon/omelette.png")}
._onionedescargot {background-image: url("../img/food-icon/onionedescargot.png")}
._onionrings {background-image: url("../img/food-icon/onionrings.png")}
._onionsalad {background-image: url("../img/food-icon/onionsalad.png")}
._onionskewer {background-image: url("../img/food-icon/onionskewer.png")}
._oscypki {background-image: url("../img/food-icon/cheese-oscypki.png")}
._pancake {background-image: url("../img/food-icon/pancake.png")}
._parasolmushroom {background-image: url("../img/food-icon/herbs/parasolshroom.png")}
._parboiledmorels {background-image: url("../img/food-icon/lorchelwet.png")}
._peapie {background-image: url("../img/food-icon/peapie.png")}
._peapod {background-image: url("../img/food-icon/peapod.png")}
._pear {background-image: url("../img/food-icon/pear.png")}
._pecorino {background-image: url("../img/food-icon/cheese-pecorino.png")}
._perchedperch {background-image: url("../img/food-icon/perchedperch.png")}
._picodon {background-image: url("../img/food-icon/cheese-picodon.png")}
._pigletwursts {background-image: url("../img/food-icon/wurst-piglet.png")}
._plum {background-image: url("../img/food-icon/plum.png")}
._poachedwolverine {background-image: url("../img/food-icon/poachedwolverine.png")}
._pommaceperdue {background-image: url("../img/food-icon/pancake-pommace.png")}
._poppypod {background-image: url("../img/food-icon/poppypod.png")}
._poultrypotpie {background-image: url("../img/food-icon/poultrypotpie.png")}
._pumpkinbread {background-image: url("../img/food-icon/pumpkinbread.png")}
._pumpkinflesh {background-image: url("../img/food-icon/pumpkinflesh.png")}
._pumpkinpie {background-image: url("../img/food-icon/pumpkinpie.png")}
._quince {background-image: url("../img/food-icon/quince.png")}
._rabbitfood {background-image: url("../img/food-icon/rabbitfood.png")}
._raisinbuttercake {background-image: url("../img/food-icon/raisinbuttercake.png")}
._raisins {background-image: url("../img/food-icon/raisins.png")}
._raspberry {background-image: url("../img/food-icon/seed-raspberrybush.png")}
._ratonastick {background-image: url("../img/food-icon/ratstick.png")}
._redapple {background-image: url("../img/food-icon/apple.png")}
._redcurrant {background-image: url("../img/food-icon/seed-redcurrant.png")}
._redshredsalad {background-image: url("../img/food-icon/redshredsalad.png")}
._ringofbrodgarbaking {background-image: url("../img/food-icon/ringofbrodgar.png")}
._ringofbrodgarseafood {background-image: url("../img/food-icon/robsea.png")}
._roastadder {background-image: url("../img/food-icon/meat-roast.png")}
._roastant {background-image: url("../img/food-icon/meat-rweird.png")}
._roastbadger {background-image: url("../img/food-icon/meat-roast.png")}
._roastbat {background-image: url("../img/food-icon/meat-roast.png")}
._roastbear {background-image: url("../img/food-icon/meat-roast.png")}
._roastbeaver {background-image: url("../img/food-icon/meat-roast.png")}
._roastbeef {background-image: url("../img/food-icon/meat-roast.png")}
._roastboreworm {background-image: url("../img/food-icon/meat-rweird.png")}
._roastcavelouse {background-image: url("../img/food-icon/meat-rweird.png")}
._roastchasmconch {background-image: url("../img/food-icon/meat-rweird.png")}
._roastchestnut {background-image: url("../img/food-icon/chestnutroast.png")}
._roastchevon {background-image: url("../img/food-icon/meat-roast.png")}
._roastchicken {background-image: url("../img/food-icon/meat-rpoultry.png")}
._roasteagleowl {background-image: url("../img/food-icon/meat-rpoultry.png")}
._roastfiletofabyssgazer {background-image: url("../img/food-icon/meat-rfilet.png")}
._roastfiletofasp {background-image: url("../img/food-icon/meat-rfilet.png")}
._roastfiletofbream {background-image: url("../img/food-icon/meat-rfilet.png")}
._roastfiletofbrill {background-image: url("../img/food-icon/meat-rfilet.png")}
._roastfiletofburbot {background-image: url("../img/food-icon/meat-rfilet.png")}
._roastfiletofcarp {background-image: url("../img/food-icon/meat-rfilet.png")}
._roastfiletofcatfish {background-image: url("../img/food-icon/meat-rfilet.png")}
._roastfiletofcaveangler {background-image: url("../img/food-icon/meat-rfilet.png")}
._roastfiletofcavelacanth {background-image: url("../img/food-icon/meat-rfilet.png")}
._roastfiletofcavesculpin {background-image: url("../img/food-icon/meat-rfilet.png")}
._roastfiletofchub {background-image: url("../img/food-icon/meat-rfilet.png")}
._roastfiletofeel {background-image: url("../img/food-icon/meat-rfilet.png")}
._roastfiletofgrayling {background-image: url("../img/food-icon/meat-rfilet.png")}
._roastfiletofide {background-image: url("../img/food-icon/meat-rfilet.png")}
._roastfiletoflavaret {background-image: url("../img/food-icon/meat-rfilet.png")}
._roastfiletofpaleghostfish {background-image: url("../img/food-icon/meat-rfilet.png")}
._roastfiletofperch {background-image: url("../img/food-icon/meat-rfilet.png")}
._roastfiletofpike {background-image: url("../img/food-icon/meat-rfilet.png")}
._roastfiletofplaice {background-image: url("../img/food-icon/meat-rfilet.png")}
._roastfiletofroach {background-image: url("../img/food-icon/meat-rfilet.png")}
._roastfiletofruffe {background-image: url("../img/food-icon/meat-rfilet.png")}
._roastfiletofsalmon {background-image: url("../img/food-icon/meat-rfilet.png")}
._roastfiletofsilverbream {background-image: url("../img/food-icon/meat-rfilet.png")}
._roastfiletofsmelt {background-image: url("../img/food-icon/meat-rfilet.png")}
._roastfiletofsturgeon {background-image: url("../img/food-icon/meat-rfilet.png")}
._roastfiletoftench {background-image: url("../img/food-icon/meat-rfilet.png")}
._roastfiletoftrout {background-image: url("../img/food-icon/meat-rfilet.png")}
._roastfiletofzander {background-image: url("../img/food-icon/meat-rfilet.png")}
._roastfiletofzope {background-image: url("../img/food-icon/meat-rfilet.png")}
._roastfox {background-image: url("../img/food-icon/meat-roast.png")}
._roastgoldeneagle {background-image: url("../img/food-icon/meat-rpoultry.png")}
._roastgreyseal {background-image: url("../img/food-icon/meat-roast.png")}
._roasthedgehog {background-image: url("../img/food-icon/meat-roast.png")}
._roasthopper {background-image: url("../img/food-icon/roasthopper.png")}
._roasthorse {background-image: url("../img/food-icon/meat-roast.png")}
._roastlynx {background-image: url("../img/food-icon/meat-roast.png")}
._roastmagpie {background-image: url("../img/food-icon/meat-rpoultry.png")}
._roastmallard {background-image: url("../img/food-icon/meat-rpoultry.png")}
._roastmammoth {background-image: url("../img/food-icon/meat-roast.png")}
._roastmole {background-image: url("../img/food-icon/meat-roast.png")}
._roastmoose {background-image: url("../img/food-icon/meat-roast.png")}
._roastmutton {background-image: url("../img/food-icon/meat-roast.png")}
._roastotter {background-image: url("../img/food-icon/meat-roast.png")}
._roastpork {background-image: url("../img/food-icon/meat-roast.png")}
._roastptarmigan {background-image: url("../img/food-icon/meat-rpoultry.png")}
._roastquail {background-image: url("../img/food-icon/meat-rpoultry.png")}
._roastrabbit {background-image: url("../img/food-icon/meat-roast.png")}
._roastreindeervenison {background-image: url("../img/food-icon/meat-roast.png")}
._roastroachwrap {background-image: url("../img/food-icon/roachwrap.png")}
._roastsquirrel {background-image: url("../img/food-icon/meat-roast.png")}
._roastswan {background-image: url("../img/food-icon/meat-roast.png")}
._roasttroll {background-image: url("../img/food-icon/meat-rweird.png")}
._roastvenison {background-image: url("../img/food-icon/meat-roast.png")}
._roastwalrus {background-image: url("../img/food-icon/meat-roast.png")}
._roastwildbeef {background-image: url("../img/food-icon/meat-roast.png")}
._roastwildgoat {background-image: url("../img/food-icon/meat-roast.png")}
._roastwildhorse {background-image: url("../img/food-icon/meat-roast.png")}
._roastwildmutton {background-image: url("../img/food-icon/meat-roast.png")}
._roastwildpork {background-image: url("../img/food-icon/meat-roast.png")}
._roastwolf {background-image: url("../img/food-icon/meat-roast.png")}
._roastwolverine {background-image: url("../img/food-icon/meat-roast.png")}
._roastwoodgrouse {background-image: url("../img/food-icon/meat-rpoultry.png")}
._robiola {background-image: url("../img/food-icon/cheese-robiola.png")}
._roncal {background-image: url("../img/food-icon/cheese-roncal.png")}
._runningrabbitsausage {background-image: url("../img/food-icon/wurst-runningrabbit.png")}
._sacrebleu {background-image: url("../img/food-icon/pancake-sacrebleu.png")}
._seaberries {background-image: url("../img/food-icon/seed-sandthorn.png")}
._sealburger {background-image: url("../img/food-icon/sealburger.png")}
._seedcrispflatbread {background-image: url("../img/food-icon/seedcrispbread.png")}
._sheepscurd {background-image: url("../img/food-icon/curd-sheep.png")}
._shepherdspie {background-image: url("../img/food-icon/shepherdspie.png")}
._sloanberries {background-image: url("../img/food-icon/seed-sandthorn.png")}
._spicysalad {background-image: url("../img/food-icon/spicysalad.png")}
._spitroastadder {background-image: url("../img/food-icon/meat-spitroast.png")}
._spitroastasp {background-image: url("../img/food-icon/meat-sfilet.png")}
._spitroastbadger {background-image: url("../img/food-icon/meat-spitroast.png")}
._spitroastbat {background-image: url("../img/food-icon/meat-spitroast.png")}
._spitroastbear {background-image: url("../img/food-icon/meat-spitroast.png")}
._spitroastbeaver {background-image: url("../img/food-icon/meat-spitroast.png")}
._spitroastboreworm {background-image: url("../img/food-icon/meat-spitroast.png")}
._spitroastbream {background-image: url("../img/food-icon/meat-sfilet.png")}
._spitroastbrill {background-image: url("../img/food-icon/meat-sfilet.png")}
._spitroastburbot {background-image: url("../img/food-icon/meat-sfilet.png")}
._spitroastcarp {background-image: url("../img/food-icon/meat-sfilet.png")}
._spitroastcatfish {background-image: url("../img/food-icon/meat-sfilet.png")}
._spitroastcaveangler {background-image: url("../img/food-icon/meat-sfilet.png")}
._spitroastcavelacanth {background-image: url("../img/food-icon/meat-sfilet.png")}
._spitroastcavesculpin {background-image: url("../img/food-icon/meat-sfilet.png")}
._spitroastchicken {background-image: url("../img/food-icon/meat-spoultry.png")}
._spitroastchub {background-image: url("../img/food-icon/meat-sfilet.png")}
._spitroasteel {background-image: url("../img/food-icon/meat-sfilet.png")}
._spitroastfox {background-image: url("../img/food-icon/meat-spitroast.png")}
._spitroastgrayling {background-image: url("../img/food-icon/meat-sfilet.png")}
._spitroastgreyseal {background-image: url("../img/food-icon/meat-spitroast.png")}
._spitroasthedgehog {background-image: url("../img/food-icon/meat-spitroast.png")}
._spitroasthorse {background-image: url("../img/food-icon/meat-spitroast.png")}
._spitroastide {background-image: url("../img/food-icon/meat-sfilet.png")}
._spitroastlavaret {background-image: url("../img/food-icon/meat-sfilet.png")}
._spitroastlynx {background-image: url("../img/food-icon/meat-spitroast.png")}
._spitroastmagpie {background-image: url("../img/food-icon/meat-spoultry.png")}
._spitroastmallard {background-image: url("../img/food-icon/meat-spoultry.png")}
._spitroastmole {background-image: url("../img/food-icon/meat-spitroast.png")}
._spitroastmoose {background-image: url("../img/food-icon/meat-spitroast.png")}
._spitroastmutton {background-image: url("../img/food-icon/meat-spitroast.png")}
._spitroastotter {background-image: url("../img/food-icon/meat-spitroast.png")}
._spitroastpaleghostfish {background-image: url("../img/food-icon/meat-sfilet.png")}
._spitroastperch {background-image: url("../img/food-icon/meat-sfilet.png")}
._spitroastpike {background-image: url("../img/food-icon/meat-sfilet.png")}
._spitroastplaice {background-image: url("../img/food-icon/meat-sfilet.png")}
._spitroastptarmigan {background-image: url("../img/food-icon/meat-spoultry.png")}
._spitroastquail {background-image: url("../img/food-icon/meat-spoultry.png")}
._spitroastrabbit {background-image: url("../img/food-icon/meat-spitroast.png")}
._spitroastroach {background-image: url("../img/food-icon/meat-sfilet.png")}
._spitroastruffe {background-image: url("../img/food-icon/meat-sfilet.png")}
._spitroastsalmon {background-image: url("../img/food-icon/meat-sfilet.png")}
._spitroastsilverbream {background-image: url("../img/food-icon/meat-sfilet.png")}
._spitroastsmelt {background-image: url("../img/food-icon/meat-sfilet.png")}
._spitroastsquirrel {background-image: url("../img/food-icon/meat-spitroast.png")}
._spitroaststurgeon {background-image: url("../img/food-icon/meat-sfilet.png")}
._spitroastswan {background-image: url("../img/food-icon/meat-spoultry.png")}
._spitroasttench {background-image: url("../img/food-icon/meat-sfilet.png")}
._spitroasttrout {background-image: url("../img/food-icon/meat-sfilet.png")}
._spitroastvenison {background-image: url("../img/food-icon/meat-spitroast.png")}
._spitroastwalrus {background-image: url("../img/food-icon/meat-spitroast.png")}
._spitroastwildbeef {background-image: url("../img/food-icon/meat-spitroast.png")}
._spitroastwildgoat {background-image: url("../img/food-icon/meat-spitroast.png")}
._spitroastwildpork {background-image: url("../img/food-icon/meat-spitroast.png")}
._spitroastwolverine {background-image: url("../img/food-icon/meat-spitroast.png")}
._spitroastwoodgrouse {background-image: url("../img/food-icon/meat-spoultry.png")}
._spitroastzander {background-image: url("../img/food-icon/meat-sfilet.png")}
._spitroastzope {background-image: url("../img/food-icon/meat-sfilet.png")}
._springstew {background-image: url("../img/food-icon/springstew.png")}
._stalagoom {background-image: url("../img/food-icon/herbs/stalagoom.png")}
._steaktubers {background-image: url("../img/food-icon/steaktuber.png")}
._stingingsalad {background-image: url("../img/food-icon/stingingsalad.png")}
._strawberriesincream {background-image: url("../img/food-icon/strawberrycream.png")}
._strawberry {background-image: url("../img/food-icon/herbs/strawberry.png")}
._strawberrycake {background-image: url("../img/food-icon/strawberrycake.png")}
._sunlitstilton {background-image: url("../img/food-icon/cheese-sunlitstilton.png")}
._swanneck {background-image: url("../img/food-icon/wurst-swanneck.png")}
._sweetbeets {background-image: url("../img/food-icon/sweetbeets.png")}
._tamegameliverwurst {background-image: url("../img/food-icon/wurst-tamegame.png")}
._tastyemmentaler {background-image: url("../img/food-icon/cheese-temmentaler.png")}
._trollear {background-image: url("../img/food-icon/small/trollears.png")}
._trollmushrooms {background-image: url("../img/food-icon/trollshrooms.png")}
._trollnose {background-image: url("../img/food-icon/small/trollnose.png")}
._trollsthirdeye {background-image: url("../img/food-icon/trolleye.png")}
._trolltail {background-image: url("../img/food-icon/small/trolltail.png")}
._tubermash {background-image: url("../img/food-icon/tubermash.png")}
._turnip {background-image: url("../img/food-icon/turnip.png")}
._turnipfries {background-image: url("../img/food-icon/turnipfries.png")}
._twobirdskewer {background-image: url("../img/food-icon/twobirdskewer.png")}
._walnut {background-image: url("../img/food-icon/walnut.png")}
._walruscarpenter {background-image: url("../img/food-icon/wurst-carpwal.png")}
._wellplaicedpie {background-image: url("../img/food-icon/wellplaicedpie.png")}
._withercorn {background-image: url("../img/food-icon/seed-witherstand.png")}
._wonderfulwildernesswurst {background-image: url("../img/food-icon/wurst-www.png")}
._yellowfeet {background-image: url("../img/food-icon/herbs/yellowfoot.png")}
._zamorano {background-image: url("../img/food-icon/cheese-zamorano.png")}
._zestybrill {background-image: url("../img/food-icon/zestybrill.png")}
