body {
	background-color: #000;
}

body * {
	background: none;
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.clicky {
	cursor: pointer;	
}

.pagenum:hover {
	border-radius: 5px;
}

#pageHeader, #pageBottom {
	position: fixed;
	z-index: 2;
	overflow: hidden;
	left: 0px;
	width: 100%;	
}

#pageHeader {
	top: 0px;
}

#pageBottom {
	bottom: 0px;
}

#data-headers, #data-container, #filters {
	width: 1040px;
}

#data-headers {
	height: 24px;
	margin: 8px auto 0px auto;
}

	#data-headers>*	{
		display: inline-block;
		text-align: center !important;
		height: 100%;
		float: left;
	}
	
	#data-headers .hdr {
		font-size: 12pt;
	}

	#data-headers .hdr {
		cursor: pointer;
	}

	span.sublabel {
		font-size: 10pt !important;
		line-height: 0.2em;
		display: block !important;
		width: 32px;
		margin: auto;
	}

#data-container {
	padding-top: 32px;
	padding-bottom: 110px;
	margin: 0px auto 0px auto;
}

#data {
	width: 100%;
	border: none;
	border-collapse: collapse;
	font-size: 10.0pt;
}

#data * {
	margin: 0px;
	padding: 0px;
}

#data tbody td * {
	vertical-align: middle;
}

#data tr td {
	height: 32px;
}


#data td:nth-child(1), #data-headers div:nth-child(1) {
	width: 230px;
}

#data td:nth-child(1) {
	word-spacing: -0.10em;
	letter-spacing: -0.010em;
	line-height: 13px;
	padding-left: 4px;
	padding-right: 4px;
}

#data td:nth-child(2), #data-headers div:nth-child(2) {
	width: 190px;
}

#data td:nth-child(2) {
	text-align: center;
	line-height: 10pt;
	font-size: 8pt;
}

#data td:nth-child(3), #data-headers div:nth-child(3) {
	width: 325px;
}

#data td:nth-child(4), #data-headers div:nth-child(4),
#data td:nth-child(5), #data-headers div:nth-child(5),
#data td:nth-child(6), #data-headers div:nth-child(6),
#data td:nth-child(7), #data-headers div:nth-child(7) {
	width: 36px;
	text-align: center;
}

#data td:nth-child(8), #data-headers div:nth-child(8) {
	width: 150px;
}

#data .fep-list {
	width: 325px;
}

#data .fep-single {
	width: 36px !important; 
	height: 32px !important; 
	float: left;
	vertical-align: middle !important;
	text-align: center;
}

.fep-single * {
	word-spacing: -0.36em;
	letter-spacing: -0.080em;
	display: block;
	font-family: 'droid_sans_monoregular', monospace;
}

.fep-single .fep-name {
	position: relative;
	top: 14px;
	font-size: 8.5pt;
}

.fep-single .fep-value {
	position: relative;
	top: -14px;
	font-size: 10pt;
	font-weight: bold;
}

#data .ing-list {
	display: block;
	padding-left: 4px;
	padding-right: 4px;
}

#data .ing-single {
	float: left;
	vertical-align: middle !important;
	word-spacing: -0.09em;
	letter-spacing: -0.023em;
	margin-left: 2px;
	line-height: 8pt;
	font-family: 'SourceSansProRegular', sans-serif;
	font-size: 9pt;
}

#data .sat-list {
	width: 150px;
	display: block;
}

#data .sat-single>*{
	float: left;
	/*padding-left: 2px;*/
	line-height: 7pt;
	font-family: 'SourceSansProRegular', sans-serif;
	font-size: 9pt;
}

#data .sat-single {
	clear: both;
	margin-left: 1px;
	margin-right: 1px;
}

/*
.sat-d {
	font-size: 6pt !important;
	padding-top: 0.4pt !important;
	line-height: 6pt !important;
}

*/


/* ------------------------------------*/
/* ----------- 	Pagination 	---------- */
/* ------------------------------------*/

#pageStats {
	margin-top: 6pt;
	font-size: 75%;
}

#pageStats, #pageNumbers {
	text-align: center;
}

.pagenum {
	cursor: pointer;	
	padding: 0.2ex 0.7ex 0.2ex 0.7ex;
}

.pagenum.current {
	font-weight: bold;
	cursor: default;
}

#pagination .separator {
	font-size: 60%;
	margin: 0ex 0.5ex 0ex 0.5ex;
}

/* ------------------------------------*/
/* ----------- 	Filters 	------------ */
/* ------------------------------------*/

#filters {
	margin: 0px auto 0px auto;
}

#filters * {
	margin: 0px; 
	padding: 0px;
	z-index: 4;	
	border: none;
	outline: none;
	vertical-align: middle;
}

#filters>* {
	display: inline-block;
	height: 72px;
}

#button_left, #button_right {
	width: 72px;
}

#btnSearch, #btnReset {
	margin: 6px;
	height: 60px;
	width: 60px;
}

#fields_middle {
	/*width: 736px;*/
	width: 886px;
}

#filterFood, #filterIng {
	/*width: 360px;*/
	width: 435px;
}

#filterFood, #filterIng, #filterFEP {
	height: 16pt;
	margin-right: 4px;
	margin-top: 8px;
	border-bottom: #000 1px solid;
	display: inline-block;
}

#filterFEP {
	/*width: 734px;*/
	width: 884px;
}