/*
#888 - mono stroke
#AAA - mono tip

#CDE - fill
#ACD - stroke
#06A - accent
*/
body 
{
	background-color: #FFF;
	color: #222;
}

svg * {
	fill: #AAA;
	stroke: #AAA;
}

.clicky:hover svg * {
	fill: #06A;
	stroke: #06A;
}

body *
{
	color: #222;
}

#data th 
{
	color: #000 !important;
}


#pageHeader, #pageBottom
{
	background-color: #FFF;
}

#data-headers .hdr:hover
{
	color: #06A !important;
}

#data tbody tr:nth-child(even)
{
	background-color:#EAEAEA;
}

.fep-single .fep-value{
	font-weight: normal;
}

.fep-single .fep-name{
	color: #555;
}

	/*FEP COLORS*/
	.str1 {background-color: #BF9794; }
	.agi1 {background-color: #9995B8; }
	.int1 {background-color: #9DB7B9; }
	.con1 {background-color: #C29AB4; }
	.prc1 {background-color: #E4BF98; }
	.csm1 {background-color: #9BEEB1; }
	.dex1 {background-color: #FEFDCC; }
	.wil1 {background-color: #E4F38F; }
	.psy1 {background-color: #C48DFD; }

	.str2 {background-color: #DF958F; }
	.agi2 {background-color: #9991DC; }
	.int2 {background-color: #97D6DC; }
	.con2 {background-color: #E193C5; }
	.prc2 {background-color: #F2C28D; }
	.csm2 {background-color: #8EF7AA; }
	.dex2 {background-color: #FFFEA6; }
	.wil2 {background-color: #EEFF9E; }
	.psy2 {background-color: #C286FE; }
	/*FEP COLORS END*/


	.pagenum:hover {
		background-color: #CDE;
	}

	.pagenum.current:hover {
		background: none !important;
	}

/*
.dropdownList
{
	background-color: #FFF !important;
	border: #AAA 1px solid !important;
}

.dropdownList div:hover 
{
	background-color: #CDE !important;
}
*/

#fields_middle>*
{
	border-bottom: #AAA 1px solid;
}

#fields_middle>*:focus {
	border-bottom: #444 1px solid;
}

#fields_middle input::-webkit-input-placeholder 
{
	color: #AAA;
}

#fields_middle :-ms-input-placeholder
{
	color: #AAA;
}
