.ing-list
{
	display: inline-block !important;
	padding: 0px !important;
}

.ing-single
{
	background-image: url("ingredient.png");
	width: 30px;
	height: 30px;
	overflow: hidden;
	text-indent: -100pt;
	padding: 0px !important;
	margin: 0px !important;
}

.goatbollock 		{background-position: -270px -270px}
.horsebollock 	{background-position: -240px -300px}
.muttonbollock 	{background-position: -270px -300px}
.beefbollock 		{background-position: -240px -330px}
.porkbollock 		{background-position: -270px -330px}
.cachalot 			{background-position: -240px -270px}
.bogturtle 			{background-position: -240px -360px}
.caverat	 			{background-position: -270px -360px}

.barleyflour{background-position: -150px -570px}
.wheatflour {background-position: -180px -570px}

.magpieegg 			{background-position: -210px -540px}
.woodgrouseegg	{background-position: -210px -570px}
.chickenegg			{background-position: -180px -60px}

.leek 			{background-position: -60px -30px}
.redonion 	{background-position: -30px -30px}
.yellowonion{background-position: -0px -30px}

.blackpepper		{background-position: -90px -30px}
.chives				 	{background-position: -120px -30px}
.dill						{background-position: -150px -30px}
.kvann		 			{background-position: -180px -30px}
.laurelleaves 	{background-position: -210px -30px}
.thyme				 	{background-position: -240px -30px}
.sage					 	{background-position: -270px -30px}

.beetrootleaves {background-position: -0px -60px}
.greenkelp 			{background-position: -30px -60px}
.heartwoodleaves{background-position: -60px -60px}
.lettuceleaf 		{background-position: -90px -60px}
.marshmallow 		{background-position: -120px -60px}
.stingingnettle {background-position: -150px -60px}

.birchsap {background-position: -0px -90px}
.maplesap {background-position: -30px -90px}
.honey 		{background-position: -60px -90px}
.wildbeehoney	{background-position: -180px -0px}
.domestichoney{background-position: -210px -0px}

.baybolete 			{background-position: -0px -120px}
.bloatedbolete 	{background-position: -30px -120px}
.blacktrumpets 	{background-position: -60px -120px}
.blacktruffles 	{background-position: -90px -90px}
.chantrelles 		{background-position: -90px -120px}
.fieldblewits 	{background-position: -120px -120px}
.giantpuffball 	{background-position: -150px -120px}
.parasolmushroom{background-position: -180px -120px}
.driedmorels		{background-position: -210px -120px}
.cavelantern		{background-position: -120px -90px}
.parboiledmorels{background-position: -150px -90px}
.trollmushrooms {background-position: -180px -90px}
.whitetruffles 	{background-position: -210px -60px}
.yellowfeet 		{background-position: -210px -90px}
.indigocap	 		{background-position: -240px -120px}

.asp 					{background-position: -0px -180px}
.bream 				{background-position: -30px -180px}
.brill 				{background-position: -60px -180px}
.burbot 			{background-position: -90px -180px}
.carp 				{background-position: -120px -180px}
.catfish 			{background-position: -150px -180px}
.chub 				{background-position: -180px -180px}
.eel 					{background-position: -210px -180px}
.grayling 		{background-position: -0px -210px}
.ide 					{background-position: -30px -210px}
.lavaret 			{background-position: -60px -210px}
.perch 				{background-position: -90px -210px}
.pike 				{background-position: -120px -210px}
.plaice 			{background-position: -150px -210px}
.roach 				{background-position: -180px -210px}
.ruffe 				{background-position: -210px -210px}
.salmon 			{background-position: -0px -240px}
.silverbream 	{background-position: -30px -240px}
.smelt 				{background-position: -60px -240px}
.sturgeon 		{background-position: -90px -240px}
.tench 				{background-position: -120px -240px}
.trout 				{background-position: -150px -240px}
.zander 			{background-position: -180px -240px}
.zope 				{background-position: -210px -240px}

.bass 				{background-position: -0px -420px}
.cod 					{background-position: -30px -420px}
.haddock 			{background-position: -60px -420px}
.herring 			{background-position: -90px -420px}
.mackerel 		{background-position: -120px -420px}
.mullet 			{background-position: -150px -420px}
.pomfret 			{background-position: -180px -420px}
.rosefish 		{background-position: -120px -450px}
.saithe 			{background-position: -150px -450px}
.whiting 			{background-position: -180px -450px}

.caveangler			{background-position: -0px -390px}
.cavesculpin		{background-position: -30px -390px}
.paleghostfish	{background-position: -60px -390px}
.cavelacanth		{background-position: -90px -390px}
.abyssgazer			{background-position: -120px -390px}

.cowsmilk 	{background-position: -30px -0px}
.sheepsmilk {background-position: -60px -0px}
.goatsmilk 	{background-position: -90px -0px}
.aurochsmilk{background-position: -120px -0px}

.chicken 				{background-position: -0px   -150px}
.goldeneagle 		{background-position: -30px  -150px}
.woodgrouse 		{background-position: -60px  -150px}
.magpie 				{background-position: -90px  -150px}
.mallard 				{background-position: -120px -150px}
.ptarmigan 			{background-position: -150px -150px}
.quail 					{background-position: -180px -150px}
.swan 					{background-position: -210px -150px}
.eagleowl				{background-position: -210px -450px}

.bear 					{background-position: -0px   -270px}
.boar 					{background-position: -30px  -270px}
.goat 					{background-position: -60px  -270px}
.mammoth 				{background-position: -90px  -270px}
.adder 					{background-position: -120px -270px}
.badger 				{background-position: -150px -270px}
.bat 						{background-position: -180px -270px}
.beaver 				{background-position: -210px -270px}

.beef 					{background-position: -0px   -300px}
.fox 						{background-position: -30px  -300px}
.greyseal 			{background-position: -60px  -300px}
.hedgehog 			{background-position: -90px  -300px}
.horse 					{background-position: -120px -300px}
.lynx 					{background-position: -150px -300px}
.mole 					{background-position: -180px -300px}
.moose 					{background-position: -210px -300px}

.mutton 				{background-position: -0px   -330px}
.otter 					{background-position: -30px  -330px}
.pork 					{background-position: -60px  -330px}
.rabbit 				{background-position: -90px  -330px}
.reindeervenison{background-position: -120px -330px}
.venison 				{background-position: -150px -330px}
.squirrel 			{background-position: -180px -330px}
.walrus 				{background-position: -210px -330px}


.wildbeef 			{background-position: -0px    -360px}
.wildmutton 		{background-position: -30px   -360px}
.wildgoat 			{background-position: -60px   -360px}
.wildhorse 			{background-position: -90px   -360px}
.wolverine 			{background-position: -120px  -360px}

.troll 					{background-position: -180px  -360px}
.boreworm 			{background-position: -210px  -360px}
.cavelouse 			{background-position: -210px  -390px}
.chasmconch 		{background-position: -180px  -390px}

.ant				 		{background-position: -210px  -420px}
 
.wolf		 				{background-position: -150px -390px}

.carrot 	{background-position: -0px    -450px}
.beetroot {background-position: -30px   -450px}
.cavebulb {background-position: -60px   -450px}
.turnip 	{background-position: -90px   -450px}
 
.cherries {background-position: -0px   -480px}
.grapes 	{background-position: -30px  -480px}
.plum 		{background-position: -60px  -480px}
.pear 		{background-position: -90px  -480px}
.quince 	{background-position: -120px -480px}
.redapple {background-position: -150px -480px}
.sorbapple{background-position: -240px  -480px}
.persimmon{background-position: -270px -480px}
.medlar 	{background-position: -240px -510px}
 
.blackberry 	{background-position: -0px   -510px}
.blackcurrant {background-position: -30px  -510px}
.blueberries 	{background-position: -60px  -510px}
.candleberry 	{background-position: -90px  -510px}
.dogrosehips 	{background-position: -120px -510px}
.elderberries {background-position: -150px -510px}
.gooseberry 	{background-position: -180px -510px}
.lingonberries{background-position: -210px -510px}

.mulberry 		{background-position: -0px   -540px}
.raspberry 		{background-position: -30px  -540px}
.redcurrant 	{background-position: -60px  -540px}
.seaberries 	{background-position: -90px  -540px}
.sloanberries {background-position: -120px -540px}
.strawberries {background-position: -150px -540px}

.cucumber 		{background-position: -0px    -570px}
.olive 				{background-position: -30px   -570px}
.peapod 			{background-position: -60px   -570px}
.pumpkinflesh {background-position: -90px   -570px}

.milletflour		{background-position: -120px    -570px}
.seagull				{background-position: -210px    -480px}
.driftkelp			{background-position: -180px    -540px}
.fairymushroom	{background-position: -180px    -480px}

/*
CARCASSES:
Chicken
Golden Eagle
Wood Grouse
Magpie
Mallard
Ptarmigan
Quail
Adder
Bat
Hedgehog
Mole
Rabbit
Squirrel
Swan
*/
